.homecontainer{
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    background: linear-gradient(to right,#f9f9f9,orange);
}

.hnb2{
    width: 40%;
    padding-right: 1rem;
    text-align: end;
}

.homebox1{
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    box-sizing: border-box;
}
.sidebar{
    width: 20%;
    height: 100%;
}
.plot{
    width: 80%;
    height: 100%;
}
.sidebarcontainer{
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}


/* Car Card */

.card{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.imagebox{
    width: 40%;
    height: auto;
    border-bottom-left-radius: 50px; 
}
.imagebox>img{
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 50px;
}
.cardbox{
    width: 60%;
     padding: 1rem;
}
#btn-area{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
#btn-area>button{
    padding: 1px 20px 1px 20px;
    border: none;
    background: transparent;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 18px;
    cursor: pointer;
}
#btn-area>button:hover{
    background-color: aqua;
}